li{
      display: inline;
      padding: 30px;
      font-size: x-large;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: 900px;
      font-style: normal;
     
}
a:hover{
    color:blue;
}
.topleft{
    position: absolute;
    top: 10px;
    left: 16px;
}